$body-color: slateblue;
$dark-bg: rgb(8, 8, 8);
$light-bg: rgb(250, 250, 250);
$btn-color: #9393e0;

body {
  color: $body-color;
  font-family: sans-serif;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $dark-bg;
}

body.dark {
  background-color: $dark-bg;
}

body.light {
  background-color: $light-bg;
}

.check {
  margin-bottom: 4em;
}

.img {
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);

  img {
    margin: 0 auto;
  }
}

.credits {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 4em;

  a {
    margin: 8px;
    padding: 12px 24px;
    border: 3px solid $btn-color;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    span {
      display: inline-block;
    }

    small {
      overflow: hidden;
      width: 0;
      display: inline-block;
      transition: all 0.3s ease-in-out;
      margin-left: 0.5em;
      margin-top: 0.1em;
    }

    &:hover {
      background-color: $btn-color;

      small {
        width: 8em;
      }
    }

    &:visited {
      color: white;
    }
  }
}
